<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About me</h2>
                <hr class="light">
                <p class="text-faded">I have a degree in communication studies, as well as a graduate diploma in digital marketing. I have been working in communications and digital marketing for several years, developing and executing inbound marketing campaigns, and leading the social media networks of public institutions in my country.</p>
              
              <p class="text-faded">I am a native Spanish speaker with an advanced knowledge of English. I am able to quickly learn about new industries and markets, which has helped me direct different strategies for the different institutions I have worked with. I enjoy collaborating with others to gain various perspectives and find solutions. I also really value the culture and the good relationship with employees and coworkers, since that leads to increased productivity and instills a sense of belonging.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
