<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About me</h2>
                <hr class="light">
                <p class="text-faded">With a degree in communication studies and a graduate diploma in digital marketing, I have been developing and executing inbound marketing campaigns and leading the social media networks of public institutions in my country for several years.</p>
              
              <p class="text-faded">I am a native Spanish speaker with an advanced knowledge of English. I am able to quickly learn about new industries and markets, which has helped me direct different strategies for the different institutions I have worked with. I enjoy collaborating with others to gain various perspectives and find solutions. I also really value the culture and the good relationship with employees and coworkers, since that leads to increased productivity and instills a sense of belonging.</p>
                            
              <p class="text-faded">I have experience with MS Office, Canva, MailChimp, Hootsuite, Adobe Illustrator, Photoshop, and photo and video editing. I'm always excited to bring my passion for social media and knowledge of digital marketing to a client.
              </p>
              
          </div>
      </div>
      <div class="col-sm-4 col-sm-offset-4 text-center">
              <img src="img/me.jpg" class="img-responsive" alt="Me with Jin">
      </div>
    </div>
</section>
