<header style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/santiago2.jpg')">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Municipality of Santiago de Surco</h1>
            <hr>
            <p>I managed Facebook, Instagram, Twitter, and YouTube for the Municipality of Santiago de Surco. 
            </p>
<a href="#facebook" class="btn btn-primary btn-xl page-scroll">Take A Look</a>
        </div>
    </div>
</header>
