<header style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/agroideas.jpg')">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Ministry of Agriculture</h1>
            <hr>
            <p>I managed Facebook, Twitter, Instagram, LinkedIn, and YouTube for the Agroideas program at the Ministry of Agriculture.
</p>
<a href="#facebook" class="btn btn-primary btn-xl page-scroll">Take A Look</a>
        </div>
    </div>
</header>
