  
<section class="bg-secondary" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Municipality of Lima</h2>
                <hr class="light">
                <p>I managed 4 Facebook pages, one Instagram account and one YouTube channel for the largest municipality in Peru, focusing on the education and sports sectors.
              </p>
              
            </div>

      <div class="row">   
          <div class="col-lg-8 col-lg-offset-2 text-left">
            <h3><a href="https://www.facebook.com/EducacionMML">Lima Education Facebook</a></h3>
          </div>
      </div>
    
               <div class="row">
                   <div class="col-lg-4 col-lg-offset-2 text-left">
                     <p>Practice Peruvian 🇵🇪 sign language at home, and encourage the little ones to follow your example! 👨‍👩‍👧‍👦 Let's be more supportive of each other and make Lima an accessible city 🤩
👉 Learn the alphabet and numbers ► bit.ly/3oc8qoj, and, adjectives, greetings, and more ► bit.ly/39cT0Jn
                     </p>
                   </div>
                   
                 <div class="col-lg-4 text-right">
                    <iframe style="border:none;overflow:hidden" scrolling="no" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FEducacionMML%2Fposts%2Fpfbid02Y7hj2M4he2byTDN8qsLPFB333tzcoiNcXQBPyAD7W47LXikutWhQSGDJkMSHQaPRl&amp;show_text=true" width="100%" height="667" frameborder="0">
                   </iframe>
                 </div>
              </div>
                 
                 
              <div class="row">
                   <div class="col-lg-4 col-lg-offset-2 text-left">
                     <p>Applications are open for the #SupérateLima program!😁🙌 Check out the partial and full scholarships for language study, at various levels, including undergraduate and postgraduate. Don't miss this opportunity! Register here ► https://bit.ly/3nlmM7Z

📌 In case you can't access the application form from the web you can do it here: https://bit.ly/2YIDMKU
                     </p>
                   </div>
                   
                 <div class="col-lg-4 text-right">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FEducacionMML%2Fposts%2Fpfbid02AG6sgT8ojL2XrQarmueQ7QG2eYK5TyHrMisp5mhUZZzBk9gEWytjvnFa8TBYzgJxl&show_text=true" width="100%" height="691" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                 </div>
         </div>
    
          
          
              <div class="row">
                   <div class="col-lg-4 col-lg-offset-2 text-left">
                     <p>#EscuelaDeLima Starting today, you can enroll your child in this access to education project, with which we seek to reduce dropout rates. 
✅ We have installed 46 computers and 16 wifi hotspots in La Muralla Park, in Cercado, so that students can attend their virtual classes safely. 
✅ The schedules for elementary students are from 10 a.m. to 1 p.m., while high school students will be able to attend from 2 p.m. to 4:30 p.m.
😷 We will have COVID-19 safety protocols in place at the entrace.
💻 Register here: https://bit.ly/3tEPdhp
                     </p>
                   </div>
                   
                 <div class="col-lg-4 text-right">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FEducacionMML%2Fposts%2Fpfbid0wMgftLJBmud4n97usgSgeJE77zZcsCbDHqAxnTz8LrP9KWN2MkxoJdACvYQrEfH1l&show_text=true&width=auto" width="100%" height="787" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                 </div>
              </div>
    
          
          
               <div class="row">
                   <div class="col-lg-4 col-lg-offset-2 text-left">
                     <p>Do you teach little ones in kindergarten? 🧒🏽👧🏻 This round of conferences is for you! 👥 Follow the broadcasts schedule through this Facebook page and learn how to boost self-esteem 🤩, using game as a teaching strategy, techniques for virtual classes 💻, and other topics. #LearningCommunity #TeacherInfluencer
                     </p>
                   </div>
                   
                 <div class="col-lg-4 text-right">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FEducacionMML%2Fposts%2Fpfbid0aeGHenTWnCZ8Nw7j7BuFVEHKgS71Z3nFQSKYjXKzxpVndPxv2th1SBdXtyLcu2txl&show_text=true&width=auto" width="100%" height="667" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                 </div>
              </div>

      
      
          
      
      
      
      <div class="row">   
          <div class="col-lg-8 col-lg-offset-2 text-left">
            <h3><a href="https://www.facebook.com/LimaLeeMML">Lima Culture and Arts Facebook</a></h3>
          </div>
      </div>
    
               <div class="row">
                   <div class="col-lg-4 col-lg-offset-2 text-left">
                     <p>Ready for the #FeriaLimaLee? 🙌 Soon, you will be able to purchase books from participating publishers at Wong and Metro supermarkets. #YoMeQuedoEnCasa
                     </p>
                   </div>
                   
                 <div class="col-lg-4 text-right">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FLimaLeeMML%2Fposts%2Fpfbid0kiyYd6wy7MAGCic9wjKnfopxXdftNsFXLSdKZB6NLbqQVdVQay8QqHSUAf2aTeKJl&show_text=true&width=auto" width="100%" height="628" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                 </div>
              </div>
                 
                 
              <div class="row">
                   <div class="col-lg-4 col-lg-offset-2 text-left">
                     <p>Access to more than 800 digital books! 😄 At #LimaLee we continue to be committed to promoting reading in the city and we thank all users who join us in this great task. 🙌🏻
▶️ Look at our digital collection and find free books for young and old: https://bit.ly/3leVOgU
                     </p>
                   </div>
                   
                 <div class="col-lg-4 text-right">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FLimaLeeMML%2Fposts%2Fpfbid0qVPNW4BYpKvFapvhtAMn1tHvzD7r5jZiuzg9f3YCYXsBm9o2m86DgHVzw2cw45WMl&show_text=true&width=auto" width="100%" height="667" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                 </div>
         </div>
    
              <div class="row">
                   <div class="col-lg-4 col-lg-offset-2 text-left">
                     <p>The #FeriaLimaLee 🤗📚 is quite a cultural experience! Taste the delicious Peruvian food 🇵🇪, learn about literature in the museum exhibition 📖✨, have fun at the Comicteca 😁 and more.
We are waiting for you! COVID-19 safety protocols in place. 😷
                     </p>
                   </div>
                   
                 <div class="col-lg-4 text-right">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FLimaLeeMML%2Fposts%2Fpfbid0Cn7jxe7ePq2vrHVwTk3zvfMZz2oAAEKcDLWC3ctU2iHxhMaHQgSqia3das6u9irDl&show_text=true&width=auto" width="100%" height="703" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                 </div>
              </div>
    
               <div class="row">
                   <div class="col-lg-4 col-lg-offset-2 text-left">
                     <p>Plasticine workshop
| Do you like art? Here is a plasticine workshop that will boost your imagination.
Click here to see the complete program ►.
If your educational institution is registered with "Ven con tu cole", please fill out the following form ► https://ferialimalee.pe/ven-con-tu-cole/
                     </p>
                   </div>
                   
                 <div class="col-lg-4 text-right">
                    <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FLimaLeeMML%2Fvideos%2F561284798516292%2F&show_text=false&width=auto&t=0" width="100%" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                 </div>
              </div>
          
          
          
          
          
          
<div class="row">   
          <div class="col-lg-8 col-lg-offset-2 text-left">
            <h3><a href="https://www.facebook.com/LimaLeeMML">Lima Sports Facebook</a></h3>
          </div>
      </div>
    
               <div class="row">
                   <div class="col-lg-4 col-lg-offset-2 text-left">
                     <p>| For a healthy lifestyle! Encourage your parents and grandparents to practice tai chi. 
                     </p>
                   </div>
                   
                 <div class="col-lg-4 text-right">
                    <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FDeportesMML%2Fvideos%2F2551637121718498%2F&show_text=false&width=auto&t=0" width="100%" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                 </div>
              </div>
                 
                 
              <div class="row">
                   <div class="col-lg-4 col-lg-offset-2 text-left">
                     <p>Be part of our first online #EscuelaDeportiva! Know the schedules and don't miss out on learning chess, boxing and more.
Sign up here ► bit.ly/2K8tw48
#YoMeQuedoEnCasa #EnLimaNosCuidamosTodos
                     </p>
                   </div>
                   
                 <div class="col-lg-4 text-right">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FDeportesMML%2Fposts%2Fpfbid02gfqxYJTw4Pxi6E2ajUwSRqXqdYtGbatw3kp84SC5e4bKMQePwc3onqTkkQaCxAWcl&show_text=true&width=auto" width="100%" height="648" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                 </div>
         </div>
    
              <div class="row">
                   <div class="col-lg-4 col-lg-offset-2 text-left">
                     <p>reopened the Upis Huáscar sports center in San Juan de Lurigancho! 💪
We have volleyball, soccer, dance and taekwondo programs for children from 6 years old to teenagers at 16 years old. ⚽🏐🥋
COVID-19 safety protocols in place.
                     </p>
                   </div>
                   
                 <div class="col-lg-4 text-right">
                    <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FDeportesMML%2Fvideos%2F1432116607184177%2F&show_text=false&width=auto&t=0" width="100%" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                 </div>
              </div>
    
               <div class="row">
                   <div class="col-lg-4 col-lg-offset-2 text-left">
                     <p>We are happy to work with the community of Manchay! 💪 
✅ Vista Alegre Sports Center has a renovated synthetic field, LED floodlights, improved accessibility for grandstands, a new perimeter fence and a nursery 🥳. 
We are confident that the neighbors in the area will be able to enjoy this space and practice sports following all COVID-19 protocols.
                     </p>
                   </div>
                   
                 <div class="col-lg-4 text-right">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FDeportesMML%2Fposts%2Fpfbid035qnUmZsbRADvhJ8cUu9usLd5RuJ4HmUBeHcRoELpN3aEs9YSHKJY8T7yWy7kz9Afl&show_text=true&width=auto" width="100%" height="742" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                 </div>
              </div>          
          
          
          
    
      </div>
    </div>
</section>
