  
<section class="bg-secondary" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Municipality of Lima</h2>
                <hr class="light">
                <p>I managed 4 Facebook pages, one Instagram account and one YouTube channel for the largest municipality in Peru, focusing on the education and sports sectors.
              </p>
              
          </div>
      </div>
  </div>
  
  <div class="container">
      <div class="row">   
          <div class="col-lg-8 text-left">
            <h3><a href="https://www.facebook.com/EducacionMML">Lima Education Facebook</a></h3>
          </div>
      </div>
    
               <div class="row">
                   <div class="col-lg-4 text-left">
                     <p>Practice Peruvian sign language	at home and encourage the little ones to follow along! Let's be more supportive of others and make Lima an accessible city.
Learn the alphabet and numbers ► bit.ly/3oc8qoj And also adjectives, greetings, among others ► bit.ly/39cT0Jn
                     </p>
                   </div>
                   
                 <div class="col-lg-4 text-right">
                    <iframe style="border:none;overflow:hidden" scrolling="no" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FEducacionMML%2Fposts%2Fpfbid02Y7hj2M4he2byTDN8qsLPFB333tzcoiNcXQBPyAD7W47LXikutWhQSGDJkMSHQaPRl&amp;show_text=true" width="100%" height="667" frameborder="0">
                   </iframe>
                 </div>
              </div>
                 
                 
              <div class="row">
                   <div class="col-lg-4 text-left">
                     <p>The time has come to apply for the #SupérateLima! Check out the partial and full scholarships for the study of languages, for undergraduate, postgraduate and more. Do not lose this opportunity! Register here https://bit.ly/3nlmM7Z In case you cannot enter the application form the web, you can do it here: https://bit.ly/2YIDMKU
                     </p>
                   </div>
                   
                 <div class="col-lg-4 text-right">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FEducacionMML%2Fposts%2Fpfbid02AG6sgT8ojL2XrQarmueQ7QG2eYK5TyHrMisp5mhUZZzBk9gEWytjvnFa8TBYzgJxl&show_text=true&width=500" width="500" height="691" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                 </div>
         </div>
    
              <div class="row">
                   <div class="col-lg-4 text-left">
                     <p>#EscuelaDeLima From today you can enroll your child in this educational connectivity project, with which we seek to reduce school dropouts. We have enabled 46 computers and 16 Wi-Fi  connection spaces in La Muralla Park, in El Cercado, so that students can follow their virtual classes safely and  receive pedagogical assistance. Elementary hours are from 10 a.m. to 1 p.m., while  high school can attend from 2 p.m. until 4:30 p.m.
😷 For entry to these spaces, we will have biosecurity  protocols.
Registration, here: https://bit.ly/3tEPdhp
                     </p>
                   </div>
                   
                 <div class="col-lg-4 text-right">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FEducacionMML%2Fposts%2Fpfbid0wMgftLJBmud4n97usgSgeJE77zZcsCbDHqAxnTz8LrP9KWN2MkxoJdACvYQrEfH1l&show_text=true&width=500" width="500" height="787" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                 </div>
              </div>
    
    
    </div>
</section>
