  
<section class="bg-secondary" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Municipality of Lima</h2>
                <hr class="light">
                <p>I managed 4 Facebook pages, one Instagram account and one YouTube channel for the largest municipality in Peru, focusing on the education and sports sectors.
              </p>
              
          </div>
      </div>
  </div>
  
  <div class="container">
      <div class="row">   
          <div class="col-lg-12 text-center">
            <h3>Lima Education Facebook</h3>
               <div class="row">
                   <div class="col-lg-4 text-left">
                     <p>Practice Peruvian sign language	at home and encourage the little ones to follow along! Let's be more supportive of others and make Lima an accessible city.
Learn the alphabet and numbers ► bit.ly/3oc8qoj And also adjectives, greetings, among others ► bit.ly/39cT0Jn
                     </p>
                   </div>
                   
                 <div class="col-lg-4 text-right">
                    <iframe style="border:none;overflow:hidden" scrolling="no" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FEducacionMML%2Fposts%2Fpfbid02Y7hj2M4he2byTDN8qsLPFB333tzcoiNcXQBPyAD7W47LXikutWhQSGDJkMSHQaPRl&amp;show_text=true" width="100%" height="667" frameborder="0">
                   </iframe>
                 </div>
            </div>
          </div>
      </div>
  </div>
</section>
