<section id="resume">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Resume</h2>
                <hr class="primary">
            </div>
      </div>
  </div>
  <div class="container">
      <div class="col-lg-12 text-center">
      	  <iframe src="/img/resume_embed.pdf" width=100% height=900>
      	  </iframe>
      </div>
  </div>
      <div class="container text-center" style="margin-top: 50px">      	  
          <p class="col-lg-8 col-lg-offset-2">Due to the
            <a href="https://www.canada.ca/en/immigration-refugees-citizenship/corporate/publications-manuals/operational-bulletins-manuals/temporary-residents/foreign-workers/international-free-trade-agreements/internationals-ftas-canada-peru.html">Canada-Peru Free Trade Agreement</a>, 
            and Canada's
            <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/work-canada/hire-temporary-foreign/international-mobility-program.html"> International Mobility Program</a>, 
            hiring me as a foreign worker is a simple and easy process. You do not need to obtain a Labour Market Impact Assessment, and I am eligible for 2-week processing of a work permit under the 
            <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/work-canada/permit/temporary/global-skills-strategy.html">Global Skills Strategy program</a>.
          </p>
      </div>
</section>
